@import url(https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap);

:root {
    --primary: #fdc435;
    --primary-b: #fdfaf3;
    --primary-bb: #fff7e0;
    --secondary: #6035fd;
    --secondary-b: #e9e3ff;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xl2: 1536px;
}

* {
    font-family: 'Vazirmatn';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}

/* Backdrop */
.bakdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #56565692;
    z-index: 100;
}


/* header stye */
header.nav-header {
    width: 100%;
    padding: 5px;
    background-color: var(--primary-b);
    color: var(--primary);
    box-shadow: 0 -5px 20px #d8d8d8;
}

.header-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-icon {
    color: var(--primary);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.cart-icon {
    color: attr(color);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.cart-icon.quantity {
    width: 1.5rem;
    height: 1.5rem;
}

.header-text {
    font-size: large;
}

.cart {
    position: relative;
}

.cart .counter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px;
    border-radius: 9999px;
    background-color: var(--secondary);
}

/* product page style */
.our-product-title h1 {
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
    padding-bottom: 50px;
    width: 100%;
    gap: 20px;
}

.product-card {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px 0px #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
}

.product-card h2 {
    color: #565656;
    font-size: 1.5rem;
    text-align: center;
}

.product-card__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    padding: 10px 20px
}

.product-card__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.product-card__price {
    font-size: 2rem;
    color: var(--primary);
}

.btn {
    font-size: 1.5rem;
    padding: 5px 15px;
    border: 1px solid transparent;
    background-color: var(--primary-bb);
    color: var(--primary);
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.btn:disabled {    
    cursor:default;
    opacity: 0.5;
    background-color: var(--secondary);
    color: var(--secondary-b);
}

/* Cart Modal */
.cart-modal {
    width: 300px;
    position: fixed;
    padding: 20px 5%;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 101;
    transition: top 1s;
}

.cart-modal__title {
    font-size: 2rem;
    text-align: center;
}

.cart-modal__items{
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
    gap: 20px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 0 5px;
    padding: 5px;
}

.cart-modal__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
}

.cart-modal__item img{
    border-radius: 5px;
    width: 100px;
}

.cart-modal__item--price-once{
    font-size: 1.5rem;
    color: var(--secondary);
}

.cart-modal__quantity{
    display: flex;
    justify-content: center;
    gap: 7px;
    font-size: 1.5rem;
}

.cart-modal__computing{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.cart-modal__total{
    font-size: 1.5rem;
}

.cart-btn{
    background-color: var(--secondary-b);
    color: var(--secondary);
}

.cart-btn-border{
    border: 1px solid var(--secondary);
    background-color: #fff;
    color: var(--secondary);
}

.cart-btn-border:hover{
    border: 1px solid transparent;
    background-color: var(--secondary-b);
    color: var(--secondary);
}


/* Responsive */
@media screen and (min-width: 640px) {
    .container {
        max-width: var(--sm);
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: var(--md);
    }
    .cart-modal {
        width: 450px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: var(--lg);
    }
    .cart-modal {
        width: 600px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: var(--xl);
    }
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: var(--xl2);
    }
}